.hptl-phase1-visit-details{
	    background: #fbfbfb;
	.visit-section{
		border: 1px solid #d3d3d3;
		margin: 10px;
		margin-top: 0px;
		border-bottom-left-radius: 5px;
	    border-bottom-right-radius: 5px;
	    border-top-right-radius: 5px;
	}
	.toggle-section{
		margin: 10px;
		margin-bottom: 0px;
	}
}
.hptl-phase1-add-visit-form{
	.primary-details{
		padding: 20px;
		border-right: 1px solid #000;
		@media only screen and (max-width: 904px) {
			padding: 10px;
	    }
	   	.primary-box-container{
			padding: 10px;
			padding-bottom: 0px;
			.radio-design{
				position: absolute;
			    top: 5px;
			    left: 36px;
			}
		}
	}
		.secondary-details{
		padding: 20px;
		.secondary-box-container{
			padding: 10px;
		}
	}
	mark{
		background: none;
		color: red;
	}
	label{
		font-weight: 400;
		font-size: 11px;
	}
	th, td{
		font-size: 11px;
		border-right: 1px solid #e6e6e6;
	}
}