.hptl-phase1-sideMenuBar{
    .sideMenu-header{
    	color: white;
    }
    .side-menu-title{
	    padding-top: 20px;
	    padding-bottom: 10px;
    }
    .side-menu-arrow{
    	margin-top: -5px;
    }
    .side-menu-downIcon{
    	padding-top: 25px;
    	padding-right: 15px;
    	cursor: pointer;
    }
    .tree-structure-menu{
    	padding-left: 50px;
    	margin-bottom: 2px;
    }
    .sub-menu-option{
	   	padding-top: 10px;
	    background: #000;
    }

	ul {
	    border-left: 1px solid #d3d3d3;
	}

	ul ul {
	    margin-top: -1.25em;
	}

	li {
	    position: relative;
	    color: white;
	    list-style-type: none;
	    cursor: pointer;
	}

	li:before {
	    content: "";
	    display: inline-block;
	    width: 8px;
	    height: 0;
	    position: absolute;
    	top: 15px;
	    left: -2.75em;
	    border-top: 1px solid #d3d3d3;
	}

	ul ul:before, h3:before, li:after {
	    content: '';
	    display: block;
	    width: 1em;
	    height: 1em;
	    top: 1em;
	    left: .4em;
	}
}